---
import Layout from '../layouts/Layout.astro';
import {getCollection} from "astro:content";


export async function getStaticPaths({ paginate }) {
    const posts = await getCollection('data');
    return paginate(posts,{ pageSize: 6 });
}

const { page } = Astro.props;
---
<Layout title="Data from json file">
	<h1 class="text-5xl text-center p-6">Data from a json file</h1>
	 <div class="grid grid-cols-3 p-6 gap-5">
			{
				page.data.map((p) => (
				<Fragment>
					<card class="border-1 rounded-4xl p-3">
						<h1 class="text-2xl">{p.data.title}</h1>
		  				<figure class="w-32"><img src={p.data.img}></figure>
		  				<p>{p.data.description}</p>
					</card>
	  			</Fragment>
				) 
			)
			}
	</div>
	<div class="flex gap-5 justify-center">
		{page.url.prev ? <a class="button p-3 rounded-md bg-amber-500 text-white" href={page.url.prev}>Previous</a> : <span class="text-gray-500 p-3 rounded-md block bg-gray-300">Previous</span>}
		<span class="text-amber-700">{page.currentPage} of {page.lastPage}</span>
		{page.url.next ? <a class="p-3 rounded-md bg-amber-500 text-white" href={page.url.next}>Next</a> : <span class="text-gray-500 p-3 rounded-md block bg-gray-300">Next</span>}
	</div>

</Layout>
