---
import Layout from '../layouts/Layout.astro';
import {getCollection} from "astro:content";
import {Debug} from "astro:components";
const posts = await getCollection('data');

---

<Layout>
	<h1 class="text-5xl text-white text-center p-5">Data from a json file</h1>
	 <div class="grid grid-cols-4 m-10 gap-2">
  {
	posts.map((p) => (
		<Fragment>
		<div class="text-amber-200 p-7">
		<h1 class="text-3xl text-center pb-5">{p.data.title}</h1>
		<img class="mb-5" src=`${p.data.img}`>
		<div>{p.data.description}</div>
		<div class="mt-1.5 text-sm">Maker: {p.data.maker}</div>
		</div>

		</Fragment>
	)

	)
  }
	</div>
</Layout>

